/* old fonts
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
font-family: 'Varela Round', sans-serif;
font-family: 'Koulen', cursive;
font-family: 'Odibee Sans', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Playball', cursive;
*/

@font-face {
    font-family: whitney; /* this is the Discord font */
    src: url('https://cdn.jsdelivr.net/gh/Tyrrrz/DiscordFonts@master/whitney-500.woff'); /* i still dont like ukraine :^) */
}

  body {
	background-color: #36393E;
    	text-align: center;
    	color: white;
  	}
	.board {
	align: center;
	border: 0px outset gray;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*
body {
	background-color: #36393E;
	font-family: whitney, arial;
	font-weight: 500;
	text-align: center;
	padding: 25px 50px 0px 50px;
}

h1 {
	text-align: center;
	color: #E800E0;
}

h2 {
	text-align: center;
	color: #E800E0
}

p {
	color: #FFFFFF;
	text-justify: auto;
}

a:link {
	color: #E800E0;
}

a:visited {
	color: #CE1CE3;
}

a:active {
	color: #00FCFF;
} */
